
.breadcrumb-page :is(.breadcrumb-item, .breadcrumb-item .link-bread) {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-02-color);
}

.breadcrumb-page .breadcrumb-item.active {
    color: var(--white-01-color) !important;
}

.breadcrumb-page .breadcrumb-item+.breadcrumb-item::before {
    display: none;
}

.breadcrumb-page-2 :is(.breadcrumb-item, .breadcrumb-item .link-bread) {
    color: var(--gray-01-color);
}

.breadcrumb-page-2 .link-bread svg path {
    fill: var(--gray-01-color);
}

.breadcrumb-page-2 .breadcrumb-item.active {
    color: var(--dark-01-color) !important;
}

@media screen and (max-width:420px) {
    .breadcrumb-page :is(.breadcrumb-item, .breadcrumb-item .link-bread) {
        font-size: 11.5px;
    }

}

html[dir="ltr"] .breadcrumb-page .icon-chevron--1 {
    transform: rotate(-180deg);
}

html[dir="ltr"] .breadcrumb-item+.breadcrumb-item {
    padding-right: 0;
    padding-left: 0.5rem;
}