.swiper-slide {
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out !important;
  opacity: 0.6; /* Make non-active slides semi-transparent */
  z-index: 1;
}

.swiper-slide-active {
  transform: scale(1.4) !important; /* Scale the active slide */
  opacity: 1; /* Full opacity for the active slide */
  z-index: 10; /* Bring the active slide to the front */
}

#imageCoats {
background-image: url(../../../../assets/reviews/rectangele.svg);
}

.swiper-slide-active #imageCoats {
  background-image:none;
  -webkit-mask-image: url(../../../../assets/reviews/rectangele.svg) !important;
  mask-image: url(../../../../assets/reviews/rectangele.svg) !important;
  background-color: #0E4A79 !important;
}

.swiper-slide-active #coat{
  fill: white;
}



